@model PetAlert.Models.Animal

@{
    ViewBag.Title = "Suppression";
}

<div>
    <h4>Supression de la fiche de l'animal errant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnimalType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lost)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" value="Supprimer" class="btn btn-danger btn-sm">Supprimer</button>
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
