@model IEnumerable<PetAlert.Models.Animal>

@{
    ViewBag.Title = "Animaux errants";
}

<h2>Animaux errants</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Ville", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnimalType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lost)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Town)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lost)
        </td>
        <td>
            @Html.ActionLink("Editer", "Edit", new { id=item.AnimalID }, new { @class="btn btn-warning btn-sm" })
            @Html.ActionLink("Details", "Details", new { id=item.AnimalID }, new { @class = "btn btn-info btn-sm" })
            @Html.ActionLink("Supprimer", "Delete", new { id=item.AnimalID }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

    <p>
        @Html.ActionLink("Ajouter un animal errant", "Create", null, new { @class = "btn btn-success" })
    </p>

</table>
