@model PetAlert.Models.AnimalModel

@{
    ViewBag.Title = "Details";
}

<h2>Details de l'avis de recherche</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WantedAd.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WantedAd.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal.AnimalType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal.AnimalType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WantedAd.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WantedAd.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WantedAd.Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WantedAd.Town)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WantedAd.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WantedAd.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WantedAd.Finished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WantedAd.Finished)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Retour à la liste", "Index")
</p>
