@model IEnumerable<PetAlert.Models.WantedAd>

@{
    ViewBag.Title = "Liste des avis de recherche";
}

<h2>Liste des avis de recherche</h2>

<p>
    @Html.ActionLink("Créer un avis de recherche", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Animal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnimalType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Town)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Animal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Town)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Editer", "Edit", new { id = item.WantedAdID }, new { @class = "btn btn-warning btn-sm" })
            <br />
            @Html.ActionLink("Details", "Details", new { id = item.WantedAdID }, new { @class = "btn btn-info btn-sm" })
            <br />
            @Html.ActionLink("Supprimer", "Delete", new { id = item.WantedAdID }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
